In [12]:
print('hello variablz')

hello variablz

In [13]:
firstname=input('enter first name')
lastname=input('enter last name')

In [14]:
firstname

''

In [15]:
lastname

''

In [16]:
firstname+lastname

''

In [17]:
x=7
name="arun"

In [18]:
x

7

In [19]:
name

'arun'

In [1]:
a=int(input('enter value of a'))
b=int(input('enter value of b'))
c=a+b
c

20

In [ ]:
a=int(input('enter value of a'))
b=int(input('enter value of b'))
c=a-b

In [ ]:
c

0

In [ ]:
'this is a computer'

'this is a computer'

In [ ]:
name='arun'
age='18'

In [ ]:
name

'arun'

In [ ]:
age

'18'

In [ ]:
print('''we are commited
      to provide high quality note books''')

we are commited
      to provide high quality note books

In [ ]:
print('i am arun\n'
      'i am studying in 12th standard')

i am arun
i am studying in 12th standard

In [ ]:
x=1.99
y=7.14
z=x+y

In [ ]:
z

9.129999999999999

In [ ]:
round(z,3)

9.13

In [ ]:
x="10"
x=int(x)

In [ ]:
x+10

20

In [ ]:
x="10"
x=float(x)

In [ ]:
x

10.0

In [ ]:
print('arun\n'
      'c n palayam\n'
      'naduveerapattu\n'
      'cuddalore 607102')

arun
c n palayam
naduveerapattu
cuddalore 607102

In [ ]:
a=3.1
b=1.2
c=a-b
print(c)

1.9000000000000001

In [ ]:
round(c,2)

1.9

In [ ]:
a="1"
a=float(a)
print(a)

1.0

In [ ]:
price=20
qty=int(input('how many apple?'))
output= f'you have bought {qty} apples \n total price{price*qty}'
print(output)

you have bought 20 apples
 total price400

In [ ]:
name="arun"
age=17
height=165
bio="name:{1},age:{2},height:{0}".format(height,name,age)
print(bio)

name:arun,age:17,height:165

In [ ]:
name=False
name

False

In [ ]:
x=None
x

In [ ]:
x=0
x

0

In [ ]:
x=False
x

False

In [ ]:
type(0.111)

float

In [ ]:
type(7)

int

In [ ]:
type('100')

str

In [ ]:
type(True)

bool

In [ ]:
type(None)

NoneType

In [ ]:
a=10
b=20
c=30
total=a+b+c

In [ ]:
print(total)

60

In [ ]:
a=10
b=20

total=a-b

In [ ]:
print(total)

-10

In [ ]:
price=10
qty=10
total=price*qty
print(total)

100

In [ ]:
a=100
b=10
c=a/b

In [ ]:
c

10.0

In [ ]:
a=100
b=3
c=a%b
c

1

In [ ]:
value=5
square  =value **2
print(f'square;{square}')

square;25

In [ ]:
a=int(input('enter value of a'))
b=int(input('enter value of b'))
c=a**2+b**2+2*a*b
print(f'(a+b)^2: {c}')

(a+b)^2: 25

In [ ]:
a=102
b=10
c=a//b

In [ ]:
c

10

In [ ]:
a=102
b=10
c=a%b
c

2

In [ ]:
value=10
exponent=value**10
print(f"(exponent);  {exponent}")

(exponent);  10000000000

In [ ]:
value=10
cube=value**3
print(f"cube;{cube}")

cube;1000

In [ ]:
import math

In [ ]:
math.factorial(10)

3628800

In [ ]:
math.sqrt(169)

13.0

In [ ]:
degree=45
math.radians(degree)

0.7853981633974483

In [ ]:
math.cos(0)

1.0

In [ ]:
import math

In [ ]:
circle=10
radius=5
price=100
pi=math.pi
area=pi*radius**2
totalarea=area*circle
totalprice=totalarea*price
totalprice

78539.81633974484

In [ ]:
x=10
y=15
x>=y

False

In [ ]:
x=10
y=-5
x>y

True

In [ ]:
word='python'
'a' in word

False

In [ ]:
agreed=input('do you agree for terms?  Yes or No ')
if  agreed=='Yes':
    print("user agreed for terms")

    print("user not agreed terms")

user agreed for terms

In [ ]:
agreed=input('do you agree for terms?  Yes or No ')
if  agreed=='Yes':
    print("user agreed for terms")
else:
    print("user not agreed terms")

user not agreed terms

In [ ]:
age=int(input('enter your age'))
print('cartooon')if age<10 else print('horror movies')

horror movies

In [ ]:
state=input('enter you state ')
if state=='tamilnadu':
    print('tamil movies')
elif state=='karnataka':
    print('kannadam movies')
else:
    print('english movies')

english movies

In [ ]:
a=int(input('enter the year'))
year=a%4
if year==0:
    print('leap year')
else:
    print('non leap year')

non leap year

In [ ]:
a=int(input('enter value of a'))
number=a%2
if number==0:
    print('even number')
else:
    print('odd number')

even number

In [ ]:
age=int(input('enter your age'))

if age>=18:
    print('you are eligible for vote')
else:
    print('you are not eligible for vote')

you are not eligible for vote

In [ ]:
state=input('enter your state')
match state:
    case 'tamilnadu':
        print('recomended for tamil movies')
    case 'karnataka':
        print('recomended for kannada movies')
    case _:
        print('recomended english movies')

recomended english movies

In [ ]:
idly=input('how is today idly? Good or Bad')
chutney=input("how is todau chutney?Good or Bad")
if idly=="Good" and "chutney"=="Good":
    print("today breakfast was good ")
else:
    print("today breakfast was bad")

today breakfast was bad

In [21]:
lottery1=input('have you won?yes or no')
lottery2=input('have you won?yes or no')
print('lottery1,lottery2')

if lottery1=='yes'  or lottery2=="yes":
    print('happy customer')
else:
    print("sad customer")

lottery1,lottery2
happy customer

In [22]:
books=['tamil,english,maths,physics,chemistry,biology']
books

['tamil,english,maths,physics,chemistry,biology']

In [23]:
books.append('compputer science')
books

['tamil,english,maths,physics,chemistry,biology', 'compputer science']

In [39]:
books=['tamil','english','maths','physics','chemistry','biology']
books

['tamil', 'english', 'maths', 'physics', 'chemistry', 'biology']

In [40]:
books.remove('maths')
books

['tamil', 'english', 'physics', 'chemistry', 'biology']

In [42]:
books.clear()
books

[]

In [43]:
books=['tamil','english','maths','physics','chemistry','biology']
books

['tamil', 'english', 'maths', 'physics', 'chemistry', 'biology']

In [44]:
books=[]
books

[]

In [47]:
books=['python','sql']
books

['python', 'sql']

In [48]:
books[1]

'sql'

In [49]:
books.insert(2, "c++")

In [50]:
books

['python', 'sql', 'c++']

In [52]:
books[2]=  "dart"

In [53]:
books

['python', 'sql', 'dart']

In [55]:
'sql' in books

True

In [56]:
'chemistry' in books

False

In [57]:
len(books)

3

In [63]:
class1=['a','b','c','d']
class2=['e','f,','g','h']
total_students=[class1,class2]
total_students

[['a', 'b', 'c', 'd'], ['e', 'f,', 'g', 'h']]

In [10]:
a=(1,2,3,3,4,5)
a

(1, 2, 3, 3, 4, 5)

In [11]:
len(a)

6

In [12]:
a.count(3)

2

In [13]:
a[2]

3

In [14]:
a[4]

4

In [15]:
a.index(3)

2

In [22]:
fruits=(1,(2,3,4))
fruits

(1, (2, 3, 4))

In [27]:
print(fruits[1][0])

2

In [28]:
fruits=('apple',('green apple','custered apple','red apple'))

In [30]:
print(fruits[1][0])

green apple

In [2]:
score={
    'tamil':100,
    'english':100,
    'maths':100,
    'science':100,
    'social':100,
}

In [3]:
score

{'tamil': 100, 'english': 100, 'maths': 100, 'science': 100, 'social': 100}

In [5]:
student={}

In [7]:
student[1001]='arun'

In [8]:
student[1002]="varun"
student[1003]='pranov'
student

{1001: 'arun', 1002: 'varun', 1003: 'pranov'}

In [10]:
student.pop(1002)

'varun'

In [11]:
student

{1001: 'arun', 1003: 'pranov'}

In [12]:
student[1001]

'arun'

In [13]:
student[1003]='varun'

In [14]:
student

{1001: 'arun', 1003: 'varun'}

In [15]:
student.keys()

dict_keys([1001, 1003])

In [16]:
student.values()

dict_values(['arun', 'varun'])

In [17]:
1001 in student

True

In [18]:
1002 in student

False

In [22]:
'arun'in student.values()

True

In [26]:
len(student)

2

In [31]:
i=0
while i<=20:
    print(i,end=',')
    i=i+1

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [35]:
i=15
while i>=1:
    print(i,end=",")
    i=i-1
print('over')

15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,over

In [41]:
beverges=['coke','fanta','sprite']
for beverage in beverges:
    print(beverage,end='    ')

coke    fanta    sprite

In [47]:
numbers=range(1,14)
print(numbers)

range(1, 14)

In [50]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [58]:
number=range(1,10,3)
number

range(1, 10, 3)

In [61]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [72]:
numbers=range(0,100,5)
numbers

range(0, 100, 5)

In [73]:
for number in numbers:
    print(number)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [6]:
cart1=['charger','iphone','pencil','notebook']
cart2=['headphone','speaker','carrom board']
cart3=['shirt','pant','guitar','table mat']
totalcart=[cart1,cart2,cart3]

In [4]:
i=0
while i<len(totalcart):
    j=0
    while j<len(totalcart[i]):
        print(totalcart[i][j])
        j+=1
    i+=1

charger
iphone
pencil
notebook
headphone
speaker
carrom board
shirt
pant
guitar
table mat

In [7]:
cart1=['charger','iphone','pencil','notebook']
cart2=['headphone','speaker','carrom board']
cart3=['shirt','pant','guitar','table mat']
totalcart=[cart1,cart2,cart3]

In [8]:
for items in totalcart:
    for item in items:
        print(item)

charger
iphone
pencil
notebook
headphone
speaker
carrom board
shirt
pant
guitar
table mat

In [17]:
for i in range(0,5):
    for j in range(0,i):
        print("*",end="  ")
    print()

*
*  *
*  *  *
*  *  *  *

In [33]:
list=[1,2,4,5,6,7,8,9,10,11,12,13,14,15]
i=0
while(i<len(list)):
    if(list[i]==5):
        break
    else:
        print(list[1])
        i=i+1

2
2
2

In [34]:
beverges=['pepsi','miranda','fanta','bovanto','sprite','coke']

In [40]:
count =0
while count<len(beverges):
    print(beverges[count])
    if beverges[count]=='coke':
        print('coke is avalable')
        break
    count +=1

pepsi
miranda
fanta
bovanto
sprite
coke
coke is avalable

In [45]:
for beverages in beverges:
    print(beverages)
    if beverages=='fanta':
        print('fanta is avalable')
        break

pepsi
miranda
fanta
fanta is avalable